{% block form %}
    <div class="panel panel-primary center-block dream-form">
        <div class="panel-heading">
            <h3 class="panel-title dream-form-title"><i class="fa fa-plus fa-fw"></i> Add your dream</h3>
        </div>
        <div class="panel-body">
            {{ form_start(form) }}
            <span class="form-errors">{{ form_errors(form) }}</span>
            <div class="form-group">
                <label for="dre_dream_title" class="col-xs-1 control-label">Title</label>
                <div class="col-xs-7">
                    {{ form_widget(form.title) }}
                    <span class="form-errors">{{ form_errors(form.title) }}</span>
                </div>
                <label for="dre_dream_date" class="col-xs-1 control-label">Date</label>
                <div class="col-xs-3">
                    {{ form_widget(form.date) }}
                    <span class="form-errors">{{ form_errors(form.date) }}</span>
                </div>
            </div>
            <hr />
            <h4>Description</h4>
            <div class="form-group">
                <div class="col-xs-12">
                    {{ form_widget(form.description) }}
                    <span class="form-errors">{{ form_errors(form.description) }}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 text-center">
                    <hr />
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
            {{ form_widget(form._token) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}