{% block form %}
    <div class="panel panel-primary center-block reg-form">
        <div class="panel-heading">
            <h3 class="panel-title reg-form-title"><i class="fa fa-user-plus fa-fw"></i> Create an account</h3>
        </div>
        <div class="panel-body">
            {{ form_start(form) }}
            <span class="form-errors">{{ form_errors(form) }}</span>
            <div class="form-group">
                <label for="dre_register_username" class="col-xs-2 control-label">Username</label>
                <div class="col-xs-4">
                    {{ form_widget(form.username) }}
                    <span class="form-errors">{{ form_errors(form.username) }}</span>
                </div>
                <div class="col-xs-6">
                </div>
            </div>
            <div class="form-group">
                <label for="dre_register_email" class="col-xs-2 control-label">E-mail</label>
                <div class="col-xs-4">
                    {{ form_widget(form.email) }}
                    <span class="form-errors">{{ form_errors(form.email) }}</span>
                </div>
                <div class="col-xs-6">
                </div>
            </div>
            <div class="form-group">
                <label for="dre_register_password" class="col-xs-2 control-label">Password</label>
                <div class="col-xs-4">
                    {{ form_widget(form.password) }}
                    <span class="form-errors">{{ form_errors(form.password) }}</span>
                </div>
                <label for="dre_register_repass" class="col-xs-2 control-label">Repeat password</label>
                <div class="col-xs-4">
                    {{ form_widget(form.repass) }}
                    <span class="form-errors">{{ form_errors(form.repass) }}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 text-center">
                    <hr />
                    <button type="submit" class="btn btn-primary">Sign up</button>
                </div>
            </div>
            {{ form_widget(form._token) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}